{% extends "base.html" %}
{% block main %}
  <div class="welcome-container">
    <div class="welcome-content">
      <div class="welcome-header">
        <h1 class="welcome-title">How can I help you today?</h1>
      </div>
      
      
      <!-- Input box for direct message -->
      <div class="input-container">
        <div class="input-wrapper">
          <textarea 
            id="messageInput" 
            class="message-input" 
            placeholder="Ask anything" 
            rows="1"
            maxlength="2000"
          ></textarea>
          <button id="sendButton" class="send-button" type="button">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" fill="currentColor"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
